<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="\assets\images\bio\profPic.jpg" class="img-circle" class="profPic" width="200" height="200">
    </div>
    <div class="profDescription"  class="col-lg-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta fugit perspiciatis? Accusantium cum et id libero nemo quia, similique. Eligendi, expedita, nihil. Animi, aperiam, atque. Mollitia provident quo quod?</p>
    </div>
  </div>
</div>


