<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <img ng-src="{{$ctrl.allProfileInformation[$ctrl.index].source}}" class="img-circle animatedProfPic"/>
      <span>
        <ul class="pager">
          <li><a href="#" ng-click="$ctrl.changeImage('prev')">&#8592</a></li>
           <li><a href="#" ng-click="$ctrl.changeImage('next')">&#8594</a></li>
        </ul>
      </span>
    </div>
    <div class="animatedProfDescription"  class="col-lg-6">
      <p class="text-center">
        {{$ctrl.allProfileInformation[$ctrl.index].caption}}
      </p>
    </div>
  </div>
</div>


