<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <img ng-src="{{$ctrl.allProfileImages[$ctrl.index].source}}" class="img-circle animatedProfPic"/>
      <span>
        <ul class="pager">
          <li><a href="#" ng-click="$ctrl.changeImage('prev')">&#8592</a></li>
           <li><a href="#" ng-click="$ctrl.changeImage('next')">&#8594</a></li>
        </ul>
      </span>
    </div>
    <div class="animatedProfDescription"  class="col-lg-6">
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta fugit perspiciatis? Accusantium cum et id libero nemo quia, similique. Eligendi, expedita, nihil. Animi, aperiam, atque. Mollitia provident quo quod?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta fugit perspiciatis? Accusantium cum et id libero nemo quia, similique.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta fugit perspiciatis? Accusantium cum et id libero nemo quia, similique.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta fugit perspiciatis? Accusantium cum et id libero nemo quia, similique.
      </p>
    </div>
  </div>
</div>


