.container {
  padding-top: 40px;
};
.profDescription {
  height: 10em;
  display: table-cell;
  vertical-align: middle;
};
.skillLabel {
  text-align: center;
  font-family: "brandon-grotesque",Arial,Helvetica,sans-serif;
};
h3 {
  text-align: center;
};
.skillIcon {
  display: block;
  margin: 0px auto;
}

