
.animatedProfPic {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0px auto;
  animation: slideInRight 1s ease-in;
  transform-origin: left;
};
@keyframes slideInRight{
  0%{
    transform: translate3d(0px, 0px, 0px);
    opacity: 0;
  }
  100%{
    transform: translate3d(100px, 0px, 0px);
    opacity: 1;
  }
};
.animatedProfDescription {
  height: 18em;
  width: 80em;
  display: table-cell;
  vertical-align: middle;
  animation: slideOutLeft 1s ease-in;
  transform-origin: right;
};
@keyframes slideOutLeft{
  0%{
    transform: translate3d(200px, 0px, 0px);
    opacity: 0;
  }
  100%{
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
};
.skillLabel {
  text-align: center;
  font-family: "brandon-grotesque",Arial,Helvetica,sans-serif;
};

.setSkills {
  display: block;
  margin: 20px auto;
};

.logoIcon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0px auto;
};
.animatedNavbarLinks {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  letter-spacing: 6px;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  animation: fadeIn 3s ease-in;
  transform-origin: center bottom;
};
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
};

.navbar a {
  color: #000000;
};


