
.profPic {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0px auto;
};
.profDescription {
  height: 18em;
  width: 80em;
  display: table-cell;
  vertical-align: middle;
};
.skillLabel {
  text-align: center;
  font-family: "brandon-grotesque",Arial,Helvetica,sans-serif;
};

.setSkills {
  display: block;
  margin: 20px auto;
};

.logoIcon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0px auto;
};
.menu {
  text-align: center;
  margin-top: 30px;
  font-size: 1.2em;
  letter-spacing: 6px;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
};

.navbar a {
  color: #000000;
};


