<div class="calBody">
  <h4>CASIO</h4>
  <div class="inputSpace">
    <p class="output">
    </p>
  </div>
  <div class="calButtons">
        <button class="numberButton" ng-click="">1</button>
        <button class="numberButton" ng-click="">2</button>
        <button class="numberButton" ng-click="">3</button>
        <button class="operationButton" ng-click="">+</button>
        <button class="numberButton" ng-click="">4</button>
        <button class="numberButton" ng-click="">5</button>
        <button class="numberButton" ng-click="">6</button>
        <button class="operationButton" ng-click="">-</button>
        <button class="numberButton" ng-click="">7</button>
        <button class="numberButton" ng-click="">8</button>
        <button class="numberButton" ng-click="">9</button>
        <button class="operationButton" ng-click="">*</button>
        <button class="numberButton" ng-click="">0</button>
        <button class="numberButton" ng-click="">.</button>
        <button class="equalButton" ng-click="">=</button>
        <button class="operationButton" ng-click="">/</button>

        <button class="clearButton" ng-click="">Clear</button>
  </div>
</div>
<!--<button class="numberButton" ng-click="">1</button>-->
<!--<button class="numberButton" ng-click="">2</button>-->
<!--<button class="numberButton" ng-click="">3</button>-->
<!--<button class="operationButton" ng-click="">+</button>-->
<!--<br>-->
<!--<button class="numberButton" ng-click="">4</button>-->
<!--<button class="numberButton" ng-click="">5</button>-->
<!--<button class="numberButton" ng-click="">6</button>-->
<!--<button class="operationButton" ng-click="">-</button>-->
<!--<br>-->
<!--<button class="numberButton" ng-click="">7</button>-->
<!--<button class="numberButton" ng-click="">8</button>-->
<!--<button class="numberButton" ng-click="">9</button>-->
<!--<button class="operationButton" ng-click="">*</button>-->
<!--<br>-->
<!--<button class="numberButton" ng-click="">0</button>-->
<!--<button class="numberButton" ng-click="">.</button>-->
<!--<button class="equalButton" ng-click="">=</button>-->
<!--<button class="operationButton" ng-click="">/</button>-->
<!--<br>-->
<!--<button class="clearButton" ng-click="">Clear</button>-->
