<div class="calBody">
  <h4>CASIO</h4>
  <div class="inputSpace">
    <p class="output">
      <input type="text"
             class="outputValue"
             ng-model="$ctrl.inputNumber">
    </p>
  </div>
  <div class="calButtons">
    <p class="operators">
      <button class="operationButton"
              ng-click="$ctrl.selectedOperation('+', $ctrl.inputNumber)">+</button>
      <button class="operationButton"
              ng-click="$ctrl.selectedOperation('-', $ctrl.inputNumber)">-</button>
      <button class="operationButton"
              ng-click="$ctrl.selectedOperation('*', $ctrl.inputNumber)">*</button>
      <button class="operationButton"
              ng-click="$ctrl.selectedOperation('/', $ctrl.inputNumber)">/</button>
    </p>
    <p class="calNumbers">
      <button class="numberButton"
              ng-click="$ctrl.getUserInput($index+1)"
              ng-repeat="number in [1,2,3,4,5,6,7,8,9]">
        {{number}}
      </button>
      <button class="miscButton"
              ng-click="$ctrl.getUserInput(0)">0</button>
      <button class="miscButton"
              ng-click="$ctrl.getUserInput('.')">.</button>
      <button class="equalButton"
              ng-click="$ctrl.computeResult()">=</button>
    </p>
    <button class="clearButton"
            ng-click="$ctrl.resetOutput()">Clear</button>

  </div>
</div>
